.products_card {
  border: 1px solid #f0f2f1;
  width: 24%;

  &-img {
    position: relative;
    overflow: hidden;
    height: 200px;
    margin: 15px 0px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    &_icons {
      width: 90%;
      position: absolute;
      bottom: -100px;
      left: 50%;
      display: grid;
      place-items: center;
      transform: translateX(-50%);
      background: rgba(113, 205, 20, 0.4);
      transition: all 400ms ease;

      .products_card-img_icon {
        padding: 10px 0px;

        i {
          color: #f0f2f1;
          cursor: pointer;
          margin-right: 10px;
        }
        .wishitem {
          color: red ;
        }
        .additem{
          color: orange;
        }
        
      }
    }
    &:hover &_icons {
      bottom: 0px;
    }
  }

  &_text {
    padding: 22px 25px 18px;
    text-align: left;

    h4 {
      color: #4a4a4a;
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 10px;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
      overflow: hidden;
    }

    &_price {
      display: flex;
      align-items: center;
      gap: 10px;

      p {
        font-size: 20px;
        font-weight: 500;
        line-height: 16px;
        color: #2a2a2a;
      }

      span {
        text-decoration: line-through;
        color: #797979;
        font-size: 14px;
        font-weight: 300;
      }
    }

    &_icon {
      margin-top: 10px;
    }
  }
}
